<ul>
  <h1>New Routine</h1>
<%= form_for @routine do |f| %>
<li>
    <%= f.label :name %>
    <%= f.text_field :name %>
</li>
<li>
    <%= f.label :week_day %>
    <%= f.text_field :week_day %>
</li>
<li>
    <%= f.label :exercises %>
    <%= f.collection_select(:exercise_ids, Exercise.all, :id, :name,{}, {:multiple => true}) %>
</li>
<li>
    <%= f.label :sets %>
    <%= f.select :sets, (0..100) %>
</li>
<li>
    <%= f.label :reps %>
    <%= f.select :reps, (0..100) %>
</li>
<li>
    <%= f.label :weight_pounds %>
    <%= f.select :weight, (0..1000) %>
</li>
    <%= f.submit "Create"%>


    <% end %>

</ul>
