
<h1>Exercises</h1>
<%= button_to "New Exercise", new_exercise_path, class: "btn btn-default", method: :get%>







<div class="container">
  <% @categories.each do |category| %>
  <div class="testing"><h1><%= category.name %></h1>
  <% category.exercises.each do |exercise| %>
  <li><%= link_to exercise.name, exercise %>
        <% if exercise.creator_id == session[:current_user_id] %>
          <%= button_to "Edit", edit_exercise_path(exercise), method: :get, class: "btn btn-default"  %>
          <%= button_to 'Delete', exercise_path(exercise), method: :delete, data: {confirm: 'Are you sure?'}  %>
        <% end %></li>
  <% end %></div>
  <% end %>
