<div class="title-container">
  <h1>New Exercise</h1>
</div>

<ul>
<%= form_for @exercise do |f| %>
<%= f.label :name %> <br>
<%= f.text_field :name %> <br>

<%= f.label :description %> <br>
<%= f.text_field :description, class: 'form-control'%><br>

  <%= f.label :instructions %><br>
  <%= f.text_field :instructions %><br>

 <%= f.label :muscles %><br>
  <%= f.collection_check_boxes :muscles, Muscle.all, :id, :name %><br>

  <%= f.submit class: "btn btn-primary"%>

<% end %>
</ul>
