<h3><%= @exercise.name %> <br></h3>
<h4>Instructions:</h4>
<%= @exercise.description %> <br>
<%= @exercise.instructions %> <br>
<h4>This exercise works out your:</h4>
<% if @exercise.muscles != nil  %>
  <% @exercise.muscles.each do |muscle| %>
    <li> <%= link_to muscle.name, muscle %> </li>
  <% end %>
<% end %>


<% if @user.exercises.include?(@exercise) %>
<%= button_to 'remove exercises from favorites', '/exercises/remove_from_favs' %>
<% else %>
<%= button_to 'save exercise to favorites', '/exercises/save_to_favs' %>
<% end %>
