<!DOCTYPE html>
<link rel="stylsheet" type="text/css" href="application.scss"/>
<html lang="en">
  <head>
    <title>Workoutapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body>
    <div>
      <ul id="nav-header">
        <% if logged_in? %>
          <li class="nav-section"><%= link_to "Exercises", exercises_path, class:"nav-section-text" %></li>
          <li class="nav-section"> <%= link_to "Body Parts", categories_path, class:"nav-section-text" %></li>
          <li class="nav-section"> <%= link_to "Muscles", muscles_path, class:"nav-section-text" %></li>
          <li class="nav-section"> <%= link_to "Favorites", '/users/:id', class:"nav-section-text" %></li>
        <% else %>
            <li class="login-section"> <%= link_to "Sign Up", '/signup', class:"nav-section-text" %></li>
                        <li class="login-section"> <%= link_to "Log in", login_path, class:"nav-section-text" %></li>
                <% end %>

            </li>
            </ul>
          </div>


          <div id="background-img">
              <div>
                <% if logged_in? %>
                  <div id="cover-btn-div">
                 <%= button_to 'logout', '/logout', method: :delete, class: "nav-section-text cover-text" %>
                    <%= yield %>
                <% else %>
                 <%= yield %>
                <% end %>
              </div>
          </div>
        </div>



</body>



</html>
